@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default font for the entire application */
@layer base {
  body {
    font-family: "Space Grotesk", sans-serif; /* Default font for the entire app */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(236, 236, 236);
  }
}
